# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Database
*.db
*.sqlite3
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Testes
.pytest_cache/
.coverage
htmlcov/

# Docker
*.tar

# Project specific
result
*.bak
*.backup
